@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  @apply dark:bg-gray-950;
}

html {
  @apply bg-[#F8F7F4];
}

.bg-light {
  @apply bg-[#F8F7F4];
}

.rotate-up {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-180deg);
}

.rotate-down {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}
